
body{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #F8FAFC;
}

.headerBorder{
border-bottom: 1px solid gainsboro;
padding-left: 200px;
position: relative;
right: 10px;
}

.sidebarContent {
  height: 50px;          /* set fixed height */
  width: 160px;          /* set fixed width */
  padding: 10px 0 10px 20px; /* consistent padding */
  border-radius: 10px;
  transition: all 0.3s ease-in-out; /* smooth effect */
}

.sidebarContent:hover {
  background-color: #F5F5F5;
}

 .active {
     color: #2563eb;
    }

    li{
    color: #64748b;
    }

.iconBG{
  background-color: #2563eb;
}

.d{
  color: #2563eb;
  font-weight: 700;
}

header{
  z-index: 20;
  display: flex;
  justify-content:space-around;
}



.f{
background-color: #fff;
height: 50px;
border-bottom: 1px solid #64748b;
position: fixed;
left: 250px;
width: 100%;
right: 0;
top: 0px;
padding: 20px;
}

.mainContent{
 position: relative; 
top: 100px; 
display: flex;
justify-content: space-around;
align-items: center;
}

.headerTextTwo{
  color:#64748b;
}

.headerTextOne{
color: #1E293B;
}
.ddd{
margin-top: -60px;
}

.headerbtn{
  background-color:  #2563eb;
  color: white;
  cursor: pointer;
  padding: 3px;
  border-radius: 20px;
  display: flex;
  gap: 5px;
  padding: 5px;
}

.headerbtn:hover{
background-color: #1d4ed8;
}

