
body{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #F8FAFC;
}

.headerBorder{
border-bottom: 1px solid gainsboro;
padding-left: 200px;
position: relative;
right: 10px;
}

.sidebarContent {
  height: 50px;          /* set fixed height */
  width: 160px;          /* set fixed width */
  padding: 10px 0 10px 20px; /* consistent padding */
  border-radius: 10px;
  transition: all 0.3s ease-in-out; /* smooth effect */
}

.sidebarContent:hover {
  background-color: #F5F5F5;
}

 .active {
     color: #2563eb;
    }

    li{
    color: #64748b;
    }

.iconBG{
  background-color: #2563eb;
}

